@keyframes app_loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media screen and (min-width:640px){
	.detail_result{
		width: 960px;
		height: auto;
		font-size: 0;
		margin: 0 auto;
		margin-top: 20px;

	}
	.detail_result > div {
		display: inline-block;
		vertical-align: top;
	}
	.result_left{
		width: 680px;
		height: auto;
		overflow: hidden;
		padding-left: 12px;
		padding-right: 12px;
		background-color: white;
		padding-top: 12px;
		box-shadow: 0 0 5px 2px #cccccc


	}	
	.result_company ul,.result_company>div>div>div{
		font-size: 0;
		display: inline-block;
		vertical-align: top;
	}
	.result_company_logo{
		width: 204px;
		height: 160px;
		border:1px solid #e3e3e3;
		background: url('../img/bg3.gif') repeat-x bottom ;
		vertical-align: top;
		position: relative;
		display: inline-block;
	}
	.result_company_logo_img{
		height:auto;
	}
	.result_company_logo_img img{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		height: 200px;
	}
	.result_company_logo div{
		width: 130px;
		height: 98px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background:  url('../img/default.jpg') repeat-x bottom ;
		background-size: 130px 98px;
		margin: auto;
	}
	.result_company ul{
		width: 430px;
		padding-left: 20px;
		padding-top: 15px;
		box-sizing: border-box;
		font-weight: bold;
	}
	.result_company ul li{
		width: 100%;
		border-bottom: 1px solid #E3E3E3;
	}
	.result_company ul li span{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 43px;
		height: 43px;
		padding-right: 30px;
	}
	.result_company ul li span.spaninit{
		width: 90px;
		text-align: right;
	}
	.Qualifications{
		width: 200px;
	}
	.Qualifications img{
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;

	}
	.result_loading {
		width: 200px;
		height: auto;
		margin:  50px auto;
		text-align: center;
	}
	.result_loading img{
		width: 100px;
		height: 100px;
		margin: 0 auto;
		animation: app_loading .5s infinite linear;
	}
	.result_loading p{
		text-align: center;
		font-size: 14px; 
		color: #333333;
		font-weight: bold;
		line-height: 50px;
	}
	.result_fail{
		width: 100%;
		height: auto;
		overflow: hidden;
	    line-height: 30px;
	    background-color: rgb(255, 250, 223);
	    font-family: 微软雅黑, arial;
	    margin: 20px 0px;
	    padding: 15px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(255, 231, 130);
	    border-image: initial;
	    box-sizing: border-box;
	    font-size: 14px;
	    color: #666666;
	}
	.result_fail button{
		width: 66px;
	    height: 36px;
	    line-height: 36px;
	    font-size: 14px;
	    color: #444;
	    text-align: center;
	    background: url(../img/index.png)  -215px -100px;
	    vertical-align: top;
	    border: none;
	    outline: none;
	    cursor: pointer;
	}
	.result_fail button:hover{
	    background: url(../img/index.png) -281px -100px;
	}
	.result_right{
		width: 230px;
		height: auto;
		padding-left: 20px;
	}
	.result_right p{
		font-size: 12px;
		color: #666666;
		line-height: 20px;
	}
	.result_right div{
		margin-bottom: 15px;

	}
	.result_right h4{
		margin-bottom: 5px;
	
	}
}